<div class="c" >
	<div class="c-left">
		<figure>
			<img alt="profile" draggable="false" ondragstart="return false;" src="images/carlos-sweb-profile.jpeg">
		</figure>
		<h3>{{titles.title_left1}}</h3>
		<h3>{{titles.title_left2}}</h3>
		<div><img alt="id-telegram" src="images/telegram-svgrepo-com.svg" width="24px"><span>@cillesca</span></div>
		<div onclick="location.href='mailto:c4rl0sill3sc4@protonmail.com'" ><img alt="id-mail" src="images/mail.svg" width="24px"><span>c4rl0sill3sc4</span></div>
		<h3>{{titles.title_left3}}</h3>
		{% for skill in skills %}
		<div><img alt="image-skill-{{ skill.name }} " src="images/devicons/{{ skill.icon }}" width="24px"><span>{{ skill.name }}</span></div>
			{% for item in skill.items %}
			<div>&nbsp;&nbsp;&nbsp;&nbsp;<img alt="image-skill-{{ item.name }} " src="images/devicons/{{ item.icon }}" width="24px"><span>{{ item.name }}</span></div>
			{% endfor %}	
		{% endfor %}	
	</div>
	<div class="c-right">
		<h1>Carlos Enrique Illesca Monsalve</h1>
		<div>
			

				{% if lang == 'es' %} 
					<button onclick="location.href='/'" >
						<img src="images/en.svg" alt="lang-english" >
						<span lang="en" >Read in English</span>
						<img src="images/chevrons-right.svg" alt="">
					</button>
				{% elseif lang == 'en' %}
					<button onclick="location.href='/es.html'" >	
						<img src="images/es.svg" alt="lang-spanish" >
						<span lang="es">Leer en Español</span>
						<img src="images/chevrons-right.svg" alt="">
					</button>
				{% endif %}
							

		</div>
		<h3>{{titles.title_right1}}</h3>
		
		{% for employment in employments %}			
			<div>			
				{% if loop.index == 1 %}
					<img src="images/circle.svg" alt="" width="10px">						
				{% else %}
			 		<img src="images/check.svg" alt="" width="32px">
				{% endif %}
		    <p><img src="images/calendar.svg" alt="" ><span>{{ employment.date }}</span></p>
	      	<p ><strong>{{titles.title_right4}}</strong>:</p>
	      	<p >{{ employment.company }}</p>
	      	<p ><strong>{{titles.title_right5}}</strong>:</p>
	      	<p >{{ employment.job }}</p>
	      	<p ><strong>{{titles.title_right6}}</strong>:</p>
	      	<p >{{ employment.description }}</p>
		</div>
		{% endfor %}
		<h3>{{titles.title_right2}}</h3>
		{% for institute in education %}
			<div>
			{% if loop.index == 1 %}
				<img src="images/circle.svg" alt="" width="10px">						
			{% else %}
		 		<img src="images/check.svg" alt="" width="32px">
			{% endif %}
		    <p><img src="images/calendar.svg" alt="" ><span>{{ institute.date }}</span></p>
	      	<p ><strong>{{titles.title_right7}}</strong>:</p>
	      	<p >{{ institute.name }}</p>
	      	<p ><strong>{{titles.title_right8}}</strong>:</p>
	      	<p >{{ institute.job }}</p>	      	
		</div>
		{% endfor %}	
	</div>
</div>
