<div class="c" >
	<div class="c-left">
		<figure>
			<img alt="profile" draggable="false" src="images/carlos-sweb-profile.webp">
		</figure>
		<h3>{{titles.title_left1}}</h3>
		<h3>{{titles.title_left2}}</h3>
		<div><img alt="id-telegram" src="images/telegram-svgrepo-com.svg"><span>@cillesca</span></div>		
		<div id="mailto"><img alt="id-mail" src="images/mail.svg"><span>c4rl0sill3sc4</span></div>
		<h3>{{titles.title_left3}}</h3>
		{% for skill in skills %}
		<div><img alt="image-skill-{{ skill.name }}" src="images/devicons/{{ skill.icon }}"><span>{{skill.name}}</span></div>
			{% for item in skill.items %}
				<div>&nbsp;&nbsp;&nbsp;&nbsp;<img alt="image-skill-{{item.name}}" src="images/devicons/{{item.icon}}">
				<span>{{item.name}}</span>
				</div>
				<!--<div>
					<img src="images/heart.svg" alt="">
					<img src="images/star.svg" alt="">
					<img src="images/star.svg" alt="">
					<img src="images/star.svg" alt="">
					<img src="images/star.svg" alt="">
				</div>-->
			{% endfor %}	
		{% endfor %}	
	</div>
	<div class="c-right " id="details">
		<h1>Carlos Enrique Illesca Monsalve</h1>
		<div>			
				{% if lang == 'es' %} 
					<button id="btnlang" data-href="#details" >
						<img src="images/en.svg" alt="lang-english" >
						<span lang="en" >Read in English</span>
						<img src="images/chevrons-right.svg" alt="">
					</button>
				{% elseif lang == 'en' %}
					<button id="btnlang" data-href="es.html#details" >	
						<img src="images/es.svg" alt="lang-spanish" >
						<span lang="es">Leer en Español</span>
						<img src="images/chevrons-right.svg" alt="">
					</button>
				{% endif %}							
		</div>
		<div>
			<p>{{titles.title_project}}:</p>
		</div>

		<div>      	
			{% for project in projects %}				
			<div class="shadow project-container-items" >
			<div class="project-name" >				
				<p>{{project.name}}</p>
				<p>{{project.version}}&nbsp;&nbsp;&nbsp;</p>
				{% if project.type == "js" %}
					<img src="images/devicons/javascript-original.svg" alt="js" />
				{% elseif project.type == "cpp" %}
					<img src="images/devicons/cplusplus-original.svg" alt="cpp" />
				{% endif %}
				
			</div>
		
			<p class="project-short-desc" >{{ project.short_desc }}</p>
			<p class="project-long-desc" >{{ project.long_desc }}</p>
			<p class="project-tag-container" >
				{% for tag in project.tags %}
					<span class="project-tag">{{ tag }}</span>
				{% endfor %}	
			</p>
			<p class="project-link-container">
				<a class="project-btn" target="_blank" href="{{ project.link }}">
					<span>{{ project.btn_text }}&nbsp;</span>			
					<img src="images/external-link.svg" alt=""></a>			
			</p>									
			</div>
		{% endfor %}	
		</div>

		
		<p class="t" >{{titles.title_right1}}</p>
		
		{% for employment in employments %}			
			<div>			
				{% if loop.index == 1 %}
					<img src="images/circle.svg" alt="">						
				{% else %}
			 		<img src="images/check.svg" alt="">
				{% endif %}
		    <p><img src="images/calendar.svg" alt="" ><span>{{ employment.date }}</span></p>
	      	<p ><strong>{{titles.title_right4}}</strong>:</p>
	      	<p >{{ employment.company }}</p>
	      	<p ><strong>{{titles.title_right5}}</strong>:</p>
	      	<p >{{ employment.job }}</p>
	      	<p ><strong>{{titles.title_right6}}</strong>:</p>
	      	<p class="text-description">{{ employment.description }}</p>
		</div>
		{% endfor %}
		<p class="t" >{{titles.title_right2}}</p>
		{% for institute in education %}
			<div>
			{% if loop.index == 1 %}
				<img src="images/circle.svg" alt="" width="10px">						
			{% else %}
		 		<img src="images/check.svg" alt="" width="32px">
			{% endif %}
		    <p><img src="images/calendar.svg" alt="" ><span>{{ institute.date }}</span></p>
	      	<p ><strong>{{titles.title_right7}}</strong>:</p>
	      	<p >{{ institute.name }}</p>
	      	<p ><strong>{{titles.title_right8}}</strong>:</p>
	      	<p >{{ institute.job }}</p>	      	
		</div>
		{% endfor %}	
	</div>	
</div>
<div class="f">	
	<img id="img-git" src="images/devicons/github-original.svg" alt="">	
	<img id="img-npm" src="images/devicons/npm-original-wordmark.svg" alt="">
</div>
