<div class="row center-xs" >
  <div class="col-xs" style="padding-top:22px;" >
    <h1>{{ profile.name }}</h1>


<div class="dropdown">
  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
    {% if lang == 'es' %}
    <img style="width:24px;" src="images/es.svg" />&nbsp;Español<i class="icon icon-caret"></i>
    {% elseif lang == 'en' %}
    <img style="width:24px;" src="images/en.svg" />&nbsp;English<i class="icon icon-caret"></i>
    {% endif %}
  </a>
  <!-- menu component -->
  <ul class="menu">
    <li class="menu-item">
    {% if lang == 'es' %}
      <a href="en.html" style="float:left;width:100%;text-align:left;">
        <img src="images/en.svg" style="width:24px;" />&nbsp;Ingles
      </a>
    {% elseif lang == 'en' %}
    <a href="index.html" style="float:left;width:100%;text-align:left;">
      <img src="images/es.svg" style="width:24px;" />&nbsp;Spanish
    </a>
    {% endif %}
  </li>
  </ul>
</div>


  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
      <div class="box"><h3 style="text-decoration:underline;">{{titles.title_right1}}</h3></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
<!--time line-->
<div class="timeline">
  {% for employment in employments %}
  <div class="timeline-item" >

    {% if loop.index == 1 %}
    <div class="timeline-left"><a class="timeline-icon"></a></div>
    {% else %}
    <div class="timeline-left">
      <a class="timeline-icon icon-lg" href="#timeline-example-2">
        <i class="icon icon-check"></i>
      </a>
    </div>
    {% endif %}

    <div class="timeline-content">
      <!--Descripción de trabajo-->
      <div class="divider"></div>
      <p class="tile-subtitle">{{ employment.date }}</p>
      <p class="tile-subtitle"><strong>{{titles.title_right4}}</strong>:</p>
      <p class="tile-subtitle" >{{ employment.company }}</p>
      <p class="tile-subtitle"><strong>{{titles.title_right5}}</strong>:</p>
      <p class="tile-subtitle">{{ employment.job }}</p>
      <p class="tile-subtitle"><strong>{{titles.title_right6}}</strong>:</p>
      <p class="tile-subtitle col-xs-10">{{ employment.description }}</p>
      <!--Descripción de trabajo-->
    </div>
  </div>
{% endfor %}
</div>
<!--timeline-->
</div><!--row-->
</div><!--column-->
<!--time line end-->
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
      <div class="box"><h3 style="text-decoration:underline;">{{titles.title_right2}}</h3></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
<!--time line-->
<div class="timeline">
  {% for institute in education %}
  <div class="timeline-item">

    {% if loop.index == 1 %}
    <div class="timeline-left"><a class="timeline-icon"></a></div>
    {% else %}
    <div class="timeline-left">
      <a class="timeline-icon icon-lg" href="#timeline-example-2">
        <i class="icon icon-check"></i>
      </a>
    </div>
    {% endif %}

    <div class="timeline-content">
      <!--Descripción-->
      <div class="divider"></div>
      <p class="tile-subtitle" >{{ institute.date }}</p>
      <p class="tile-subtitle" ><strong>{{titles.title_right7}}</strong>:</p>
      <p class="tile-subtitle" >{{ institute.name }}</p>
      <p class="tile-subtitle" ><strong>{{titles.title_right8}}</strong>:</p>
      <p class="tile-subtitle" >{{ institute.job }}</p>
      <!--Descripción-->
    </div>
  </div>
{% endfor %}
</div>
<!--timeline-->
</div><!--row-->
</div><!--column-->
<!--time line end-->
