<div class="row center-xs middle-xs" style="padding-top:50px;">
    <div class="box" >
      <figure class="avatar avatar-cv bluegray50">
    <img draggable="false" ondragstart="return false;" src="images/carlos-sweb-profile.jpeg" >
    </figure>
    </div>
</div>

 <div class="row">
              <div class="col-xs-12 ">
                 <h3 class="title-left">{{titles.title_left1}}</h3>
              </div>
              <div class="col-xs-12 ">                
                <p class="taj" style="padding-left:25px;padding-right:25px;" >
                  <!--Here my description-->
                </p>
              </div>
          </div>      
          <div class="row" style="padding-bottom:20px;">
              <div class="col-xs-12 ">
                  <h3 class="title-left" >{{ titles.title_left2 }}</h3>
              </div>
          </div>
          <!--close seccion title contact-->
          <!--open-->
          <div class="row">
              <div class="col-xs-offset-1 col-xs-2 end-xs ">
                  <div class="box">
                    <img src="images/telegram-svgrepo-com.svg" width="24px">
                  </div>
              </div>
              <div class="col-xs start-xs">
                  <div class="box">                      
                      <span class="text-right-icon">{{ profile.telegram_id }}</span>
                  </div>
              </div>
          </div>
          <!--close-->
          <!--open-->
          <div class="row">
              <div class="col-xs-offset-1 col-xs-2 end-xs ">
                  <div class="box">
                    <!--<i data-lucide="mail"></i>-->
                    <img src="images/mail.svg" width="24px">
                  </div>
              </div>
              <div class="col-xs start-xs">
                  <div class="box">
                      <span class="text-right-icon"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></span>
                  </div>
              </div>
          </div>
          <!--close-->
          <!--open-->
          <div class="row" style="padding-top:20px;padding-bottom:20px;">
              <div class="col-xs-12 ">
                    <h3 class="title-left">{{titles.title_left3}}</h3>
              </div>
          </div>
          <!--close-->
          <!--open-->
          {% for skill in skills %}
          <div class="row">
              <div class="col-xs-offset-1 col-xs-2 end-xs ">
                  <div class="box">
                     <img src="images/devicons/{{ skill.icon }}" width="24px">
                  </div>
              </div>
              <div class="col-xs start-xs">
                  <div class="box">
                      <span class="text-right-icon">{{ skill.name }}</span>
                  </div>
              </div>
          </div>
          {% for item in skill.items %}
            <div class="row" style="padding-left:20px;">
              <div class="col-xs-offset-1 col-xs-2 end-xs ">
                  <div class="box">
                      {% if item.icon %}  
                     <img src="images/devicons/{{ item.icon }}" width="24px">
                      {% endif %}
                  </div>
              </div>
              <div class="col-xs start-xs">
                  <div class="box">
                      <span class="text-right-icon">{{ item.name }}</span>
                  </div>
              </div>
          </div>
          {% endfor %}
          <br>
      {% endfor %}
